{% load static humanize %}

<div class="listing-container">
  {% for apartment in apartments %}
  <a href="{{ apartment.get_absolute_url }}">
    <div class="apartment-card">
      <!-- The apartment image -->
      <!-- TODO display a default image if there is no image -->
      <img class="w-full h-64 md:h-60" src="{{ apartment.first_image_url }}" alt="Apartment Image" />

      <!-- The apartment info -->
      <div class="px-2 py-3">
        <!-- TODO add the title of the post under the image -->
        <p class="text-sm text-gray-700"><i class="fa-solid fa-clock"></i> {{ apartment.upload_time|naturaltime }}</p>

        <!-- location -->
        <address class="py-2 text-gray-900 font-semibold">
          <i class="fa-solid fa-map-marker-alt text-cyan-600 mr-2"></i>{{apartment.location}}
        </address>

        <!-- Price, monthly -->
        <p class="text-xl font-serif font-black pt-1 pb-0 mb-0">
          <i class="fa-solid fa-money-bill-wave text-green-800"></i>
          <span class="mr-1 text-emerald-700">Ghc</span><span>{{ apartment.monthly_rent_payment|intcomma }}</span><span
            class="ml-2">monthly</span>
        </p>
        <p class="-pt-1 text-sm text-sky-700 text-semi-bold">
          {{ apartment.advance_years }} year{{ apartment.advance_years|pluralize }} advance
        </p>

        <!-- Baths, beds and verified -->
        <div class="flex justify-between py-1">
          <div class="self-center">
            <span class="font-bold text-lg">{{ apartment.bedrooms }}</span>
            <span class="text-gray-700">bed{{ apartment.bedrooms|pluralize }}</span>
            <i class="fa-solid fa-bed text-fuchsia-600"></i>
          </div>
          <div class="self-center">
            <span class="font-bold text-lg">{{ apartment.baths }}</span>
            <span class="text-gray-700">bath{{ apartment.baths|pluralize }}
            </span>
            <i class="fa-solid fa-bath text-sky-500"></i>
          </div>
          <div class="self-center">
            verified {% if apartment.verified %}
            <i class="fa-solid fa-check-double text-green-600"></i>
            {% else %}
            <i class="fa-solid fa-times text-red-600"></i>
            {% endif %}
          </div>
        </div>

        <!-- Agent -->
        <p class="text-slate-800 py-1">
          <span class="font-bold">Agent</span>
          <i class="fa-solid fa-user-tie text-black"></i>:
          {{apartment.agent.full_name}}
        </p>
      </div>
    </div>
  </a>
  {% empty %}
  <h1 class="text-red-600 text-lg">There are no apartments</h1>
  {% endfor %}
</div>