{% load static humanize apartments_extras %}

<div class="listing-container">
  {% for apartment in apartments %}
  <a href="{{ apartment.get_absolute_url }}" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="800">
    <div class="apartment-card">
      <!-- The apartment image -->

      {% get_thumbnail_images apartment as thumbnails %}
      <picture>
        <source class="w-full h-64" srcset="{{ thumbnails.webp }}" type="image/jpeg">
        <source class="w-full h-64" srcset="{{ thumbnails.jpeg }}" type="image/jpeg">
        <img class="w-full h-64" src="{{ thumbnails.jpeg }}" alt="Apartment Image" />
      </picture>

      <!-- The apartment info -->
      <div class="px-2 py-3">
        <!-- TODO add the title of the post under the image -->
        <p class="text-sm text-slate-200"><i class="fa-solid fa-clock"></i> {{ apartment.upload_time|naturaltime }}</p>

        <!-- location -->
        <address class="py-2 text-slate-100 font-semibold">
          <i class="fa-solid fa-map-marker-alt text-cyan-200 mr-2"></i>{{apartment.location}}, {{ apartment.get_major_city_display }}
        </address>

        <!-- Price, monthly -->
        <p class="text-lg font-serif font-black  py-5">
          <i class="fa-solid fa-money-bill-wave text-emerald-200"></i>
          <span class="mr-1 text-emerald-200">Ghc</span><span class="text-white">{{ apartment.get_monthly_rent_payment|intcomma }}</span><span
            class="ml-2 text-white">monthly</span>
          <span class="-pt-1 text-sm text-sky-100 text-semi-bold block">
            {{ apartment.advance_years }} year{{ apartment.advance_years|pluralize }} advance payment
          </span>
        </p>
        

        <!-- Baths, beds and verified -->
        <div class="flex justify-between py-1">
          <div class="self-center text-gray-100">
            <span class="font-bold text-lg">{{ apartment.bedrooms }}</span>
            <span class="text-slate-100">bed{{ apartment.bedrooms|pluralize }}</span>
            <i class="fa-solid fa-bed text-fuchsia-600"></i>
          </div>
          <div class="self-center text-white">
            <span class="font-bold text-lg">{{ apartment.baths }}</span>
            <span class="text-white">bath{{ apartment.baths|pluralize }}
            </span>
            <i class="fa-solid fa-bath text-sky-500"></i>
          </div>
          <div class="self-center text-white">
            verified {% if apartment.verified %}
            <i class="fa-solid fa-check-double text-green-300"></i>
            {% else %}
            <i class="fa-solid fa-times text-red-300"></i>
            {% endif %}
          </div>
        </div>

        <!-- Agent -->
        <p class="text-white py-1">
          <span class="font-bold">Agent</span>
          <i class="fa-solid fa-user-tie text-white"></i>:
          {{apartment.agent.full_name}}
        </p>
      </div>
    </div>
  </a>
  {% empty %}
  <h1 class="text-red-600 text-lg">There are no apartments</h1>
  {% endfor %}
</div>