{% extends 'base.html' %} 
{% load apartments_extras %}

{% block title %}All Apartments{% endblock title %} 


{%block content %} 

{% with object_list as apartments %}

<div class="mb-20 mt-5">
  <section class="px-2 md:px-4 lg:px-5 mb-10">
    <!-- Mobile responsive filtering system -->
    <div id="filter-box" class="">
      <div
        id="filter-form-container"
        class="hidden z-50 lg:block bg-black-rich lg:bg-slate-200 h-screen lg:h-full w-full sm:w-3/5 md:w-1/2 lg:w-full fixed top-0 right-0 lg:relative px-4 lg:px-0 lg:py-2 overflow-y-auto"
      >
        <div
          class="flex lg:hidden justify-between py-4 mb-5 border-b-2 border-gray-200"
        >
          <h3 class="text-gray-100 text-2xl self-center font-bold">Filters</h3>
          <h4
            id="close-btn"
            class="text-red-600 self-center cursor-pointer font-bold"
          >
            close <i class="fa-solid fa-times text-sm"></i>
          </h4>
        </div>

        {% with filter.form as form %}
          <form method="get" action="#" class="lg:flex lg:flex-col lg:mt-5 ">

            <div
              class="space-y-4 lg:space-y-0 lg:space-x-2 flex flex-col lg:flex-row">
              <!-- Cities -->
              <div class="filter-item-box lg:w-2/12">
                <label for="{{ form.major_city.id_for_label }}" class="filter-item-label"
                  >Major City</label
                >
                {{ form.major_city }}
              </div>

              <!-- Location -->
              <div class="filter-item-box flex-col lg:w-3/12">
                <label
                  for="{{ form.location__icontains.id_for_label }}"
                  class="text-white lg:text-gray-900 font-mono text-lg lg:text-base font-bold lg:text-center"
                  >Location</label
                >
                {{ form.location }}
              </div>

              <!-- Prices -->
              <div
                class="space-y-4 lg:space-y-0 lg:space-x-2 flex flex-col lg:flex-row lg:w-3/12"
              >
                <!-- Min Price -->
                <div class="filter-item-box lg:w-1/2">
                  <label for="{{ form.monthly_rent_payment__gt.id_for_label }}"  class="filter-item-label">Min Price</label>
                  {{ form.monthly_rent_payment__gt }}
                </div>

                <!-- Max Price -->
                <div class="filter-item-box lg:w-1/2">
                  <label for="{{ form.monthly_rent_payment__lt.id_form_label }}" class="filter-item-label">Max Price</label>
                  {{ form.monthly_rent_payment__lt }}
                </div>
              </div>

              <!-- Beds -->
              <div class="filter-item-box lg:w-1/12">
                <label for="{{ form.bedrooms.id_for_label }}" class="filter-item-label">Beds</label>
                {{ form.bedrooms }}
              </div>

              <!-- Baths -->
              <div class="filter-item-box lg:w-1/12">
                <label for="{{ form.baths.id_for_label }}" class="filter-item-label">Baths</label>
                {{ form.baths }}
              </div>

              <!-- Years of Advanced Payment -->
              <div class="filter-item-box lg:w-1/12">
                <label for="{{ form.advance_years.id_for_label }}" class="filter-item-label"
                  >Years</label
                >
                {{ form.advance_years }}
              </div>

              <!-- Verified -->
              <div class="filter-item-box lg:w-1/12">
                <label for="{{ form.verified.id_for_label }}" class="filter-item-label">Verified</label>
                {{ form.verified }}
              </div>
            </div>

            <!-- Button -->
            <div class="flex justify-around mt-5 lg:mt-2 lg:justify-between">
              <button
                type="submit"
                class="py-2 px-4 bg-blue-600 hover:bg-blue-700 text-white rounded-lg cursor-pointer"
              >
                <span class="mr-2">Apply Filters</span><i class="fa-solid fa-filter"></i>
              </button>

              <button
                type="button"
                class="bg-fuchsia-600 hover:bg-fuchsia-700 rounded-lg py-2 px-4 text-white cursor-pointer"
              >
                <span class="mr-2">sort</span><i class="fa-solid fa-sort "></i>
              </button>
            </div>
          </form>
        {% endwith %}
      </div>

      <!-- The buttons to show the filters -->
      <div class="flex space-x-5 py-2 lg:hidden">
        <button
          id="filter-btn"
          class="bg-blue-600 hover:bg-blue-700 rounded-lg w-1/2 py-4 text-center text-gray-200 cursor-pointer"
        >
          <i class="fa-solid fa-filter"></i><span class="ml-2">filters</span>
        </button>
        <button
          class="w-1/2 bg-fuchsia-600 hover:bg-fuchsia-700 rounded-lg py-4 text-center text-gray-200 cursor-pointer"
        >
          <span class="mr-2">sort</span><i class="fa-solid fa-sort "></i>
        </button>
      </div>
    </div>

    <div class="mt-10">
      <div class="flex justify-around md:justify-between">
        <div class="text-sm text-slate-800 self-center">
          {{ apartments.count }} of {{ paginator.count }} apartments
        </div>

        <div class="text-slate-900 text-xl font-bold hidden md:flex self-center uppercase">
          Apartments 
        </div>

        <div class="hidden md:flex self-center">
          {% if page_obj.has_previous %}
            <a class="self-center top-pagination-link" href="{% paginate_url page_obj.previous_page_number 'page' request.GET.urlencode %}">
              <i class="fa-solid fa-chevron-left self-center"></i>
            </a>
          {% endif %}
          <p class="px-5 text-sm self-center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </p>
          {% if page_obj.has_next %}
            <a class="self-center top-pagination-link" href="{% paginate_url page_obj.next_page_number 'page' request.GET.urlencode %}">
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          {% endif %}
        </div>
      </div>

      {% include "apartments/apartment-listings.html" with apartments=apartments %}

      <div class="flex justify-around my-10">
        <div class="py-4 px-5 bg-white rounded-md shadow-slate-400 space-x-3 md:space-x-5 flex text-lg">
          {% if page_obj.has_previous %}
            <a 
              class="pagination-link bg-blue-600 px-2 py-1 text-white" 
              href="{% paginate_url page_obj.previous_page_number 'page' request.GET.urlencode %}">
              <i class="fa-solid fa-chevron-left"></i> previous
            </a>
          {% endif %}

          <!-- TODO find a way to pass arguments to the get_elided_page_range -->
          {% for i in paginator.get_elided_page_range %}
            {% if page_obj.number == i %}
              <a class="pagination-link bg-purple-600 text-white" href="?page={{ i }}">{{ i }}</a>
            {% else %}
              <a class="pagination-link" href="{% paginate_url i 'page' request.GET.urlencode %}">{{ i }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a 
              class="pagination-link bg-blue-600 px-2 py-1 text-white" 
              href="{% paginate_url page_obj.next_page_number 'page' request.GET.urlencode %}">
                next <i class="fa-solid fa-chevron-right"></i>
              </a>
          {% endif %}
        </div>
      </div>

    </div>
  </section>
</div>

{% endwith %}

{% endblock content %}


{% block javascript %}
<script>
  const filter_form_container = document.getElementById(
    "filter-form-container"
  );
  const filter_show_button = document.getElementById("filter-btn");
  const filter_close_button = document.getElementById("close-btn");

  function hideFilter() {
    filter_form_container.classList.add("hidden");
  }

  function showFilter() {
    filter_form_container.classList.toggle("hidden");
  }

  filter_show_button.addEventListener("click", showFilter);
  filter_close_button.addEventListener("click", hideFilter);
</script>
{% endblock javascript %}
