{% extends 'base.html' %}
{% load static humanize %}

{% block title %}{{ apartment.title }}{% endblock title %}


{% block content %}

<div class="border-t-2 border-t-gray-400 mb-20">
  <!-- Title -->
  <div class="py-2 px-2">
    <p class="text-slate-900 text-center text-lg font-bold">{{ apartment.title }}</p>
    <p class="text-sm text-center py-1 text-slate-800">Posted <i class="fa-solid fa-clock"></i>
      {{apartment.upload_time|naturaltime }}</p>
  </div>

  <!-- Create a carousel of the images, on click, user can view the full image -->
  <div class="w-full h-72 md:h-96">
    <img class="h-72 md:h-96 w-full" src="{{ apartment.images.first.image.url }}" alt="{{ apartment.title }} Image">
  </div>

  <div class="">
    <!-- Title, Location, Price Info -->
    <div class="apt__info-box md:hidden">
      <div class="w-1/2 self-center flex">
        <i class="self-center fa-solid fa-map-marker-alt text-cyan-500 mr-2 text-xl"></i>
        <address class="self-center text-gray-900 font-bold">
          {{ apartment.get_major_city_display }}, {{ apartment.location }}
        </address>
      </div>

      <div class="w-1/2 text-right text-slate-800 font-bold text-lg self-center">
        <!-- Add tooltips so people can click and know what each amount is for -->
        <p><span class="text-sm text-slate-600">total_rent:</span> <br />Ghc {{ apartment.get_total_rent_payment|intcomma }}</p>
        <p><span class="text-sm text-slate-600">monthly rent:</span> <br/> Ghc {{ apartment.get_monthly_rent_payment|intcomma }}</p>
      </div>
    </div>

    <!-- Baths, Beds and Verified -->
    <div class="apt__info-box justify-between md:hidden lg">
      <div class="text-center">
        <p class="apt__info-label-1">Beds <i class="fa-solid fa-bed text-fuchsia-600"></i></p>
        <p class="apt__info-text-1">{{ apartment.bedrooms }}</p>
      </div>

      <div class="text-center">
        <p class="apt__info-label-1">Baths <i class="fa-solid fa-bath text-sky-500"></i></p>
        <p class="apt__info-text-1">{{ apartment.baths }}</p>
      </div>

      <div class="text-center">
        <p class="apt__info-label-1">Verified</p>
        <p>
          {% if apartment.verified %}
          <i class="fa-solid fa-check-double text-green-600 text-xl"></i>
          {% else %}
          <i class="fa-solid fa-times text-red-600 text-xl"></i>
          {% endif %}
        </p>
      </div>
    </div>

    <!-- CTA -->
    <div class="apt__info-box">
      <div class="w-1/2 self-center text-xl font-black">
        <div class="flex flex-col">
          <span class="text-blue-700">Isotach</span>
          <span class="text-blue-900">Global</span>
        </div>
      </div>
      <div class="flex flex-col w-1/2 space-y-2">
        <a href="#"
          class="px-2 w-full text-center py-2 rounded-md bg-blue-700 hover:bg-blue-600 text-white font-bold">Schedule
          Meeting</a>

        <a href="#"
          class="px-2 w-full text-center py-2 rounded-md bg-slate-900 hover:bg-slate-800 text-white font-bold">Ask a
          Question</a>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2">
      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Availability:</span>
          {% if apartment.available %}
          <span class="apt__info-yes">available</span>
          {% else %}
          <span class="apt__info-no">not available</span>
          {% endif %}
        </p>
      </div>

      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Featured Listing:</span>
          {% if apartment.featured %}
          <span class="apt__info-yes">yes</span>
          {% else %}
          <span class="apt__info-no">no</span>
          {% endif %}
        </p>
      </div>

      {% if apartment.for_rent %}
        <div class="apt__info-box">
          <p>
            <span class="apt__info-label-2">For Rent:</span>
            <span class="apt__info-yes">yes</span>
          </p>
        </div>
      {% endif %}

      {% if apartment.for_sale %}
        <div class="apt__info-box">
          <p>
            <span class="apt__info-label-2">For Sale:</span>
            <span class="apt__info-yes">yes</span>
          </p>
        </div>
      {% endif %}

      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Hall:</span>
          {% if apartment.hall %}
          <span class="apt__info-yes">yes</span>
          {% else %}
          <span class="apt__info-no">no</span>
          {% endif %}
        </p>
      </div>

      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Self Contained:</span>
          {% if apartment.self_contained %}
          <span class="apt__info-yes">yes</span>
          {% else %}
          <span class="apt__info-no">no</span>
          {% endif %}
        </p>
      </div>

      {% if apartment.for_rent %}

        <div class="apt__info-box">
          <p>
            <span class="apt__info-label-2">Years in Advance Payment:</span>
            <span class="apt__info-text-2">{{ apartment.advance_years }}</span>
          </p>
        </div>

        <div class="apt__info-box">
          <p>
            <span class="apt__info-label-2">Months in Advance Payment:</span>
            <span class="apt__info-text-2">{{ apartment.get_number_of_advance_months }}</span>
          </p>
        </div>

        <div class="apt__info-box">
          <p>
            <span class="apt__info-label-2">Monthly Rent Payment:</span>
            <span class="apt__info-text-2">Ghc {{ apartment.get_monthly_rent_payment|intcomma }}</span>
          </p>
        </div>

        <div class="apt__info-box">
          <p>
            <span class="apt__info-label-2">Total Rent Payment:</span>
            <span class="apt__info-text-2">Ghc {{ apartment.get_total_rent_payment|intcomma }}</span>
          </p>
        </div>

        <div class="apt__info-box md:col-span-2">
          <p>
            <span class="apt__info-label-2">Extra Description:</span><br /><br />
            <span class="text-base text-slate-900 text-justify">{{ apartment.description }}</span>
          </p>
        </div>

      {% endif %}
    
    </div>

    <!-- Agent's Details -->
    <div class="my-10 md:my-16">
      <h1 class="text-center text-black-rich uppercase text-xl py-3 font-bold">Agent's Info</h1>

      <div class="border-t border-t-gray-500 apt__info-box">
        <p>
          <span class="apt__info-label-2">Name:</span>
          <span class="apt__info-text-2">{{ apartment.agent.full_name }}</span>
        </p>
      </div>

      <div class="apt__info-box">
        <p class="flex space-x-8">
          <span class="apt__info-label-2 self-center">Photo:</span>
          <span class="">
            <img class="shadow-sm shadow-gray-700" src="{{ apartment.agent.picture.url }}"
              style="width: 250px; height:250px;" alt="{{ apartment.agent.full_name }}'s Picture" />
          </span>
        </p>
      </div>

      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Phone:</span>
          <span class="apt__info-text-2">{{ apartment.agent.phone_number }}</span>
        </p>
      </div>

      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Email:</span>
          <span class="apt__info-text-2">{{ apartment.agent.email }}</span>
        </p>
      </div>

      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Verified:</span>
          {% if apartment.agent.verified %}
          <span class="apt__info-yes">yes</span>
          {% else %}
          <span class="apt__info-no">no</span>
          {% endif %}
        </p>
      </div>

    </div>

    <!-- Fees and Commissions -->
    <div class="my-10 md:my-16">
      <h1 class="text-center text-black-rich uppercase text-xl py-3 font-bold">Fees and Commissions</h1>

      <div class="border-t border-t-slate-300 apt__info-box">
        <p>
          <span class="apt__info-label-2">Inspection Fee:</span>
          <span class="apt__info-text-2">Ghc {{ apartment.get_inspection_fee|intcomma }}</span>
        </p>
      </div>

      <div class="apt__info-box">
        <p>
          <span class="apt__info-label-2">Agent's Commission / Fee:</span>
          <span class="apt__info-text-2">Ghc {{ apartment.get_agent_fee|intcomma }}</span>
        </p>
      </div>
    </div>

  </div>

  <!-- TODO other similar listings -->
</div>


{% endblock content %}


{% block javascript %}

{% endblock javascript %}