{% extends 'base.html' %}

{% block title %}All Apartments{% endblock title %}


{% block content %}

<div class="mb-20">
  <section class="px-2 md:px-4 lg:px-6 xl:px-8 mb-10">

    <!-- Mobile responsive filtering system -->
    <div id="filter-box" class="">
      <div id="filter-form-container"
        class="hidden lg:block bg-gray-900 lg:bg-white h-screen lg:h-full w-4/5 sm:w-3/5 md:w-2/5 lg:w-full fixed top-0 right-0 lg:relative px-4 lg:px-0">
        <div class="flex lg:hidden justify-between py-4 mb-5 border-b-2 border-gray-200">
          <h3 class="text-gray-100 text-2xl self-center font-bold">Filters</h3>
          <h4 id="close-btn" class="text-red-600 self-center cursor-pointer font-bold">close <i
              class="fa-solid fa-times text-sm"></i>
          </h4>
        </div>
        
        <form method="post" action="#" class="lg:flex lg:flex-col lg:mt-5">
          <div class="space-y-4 lg:space-y-0 lg:space-x-2 flex flex-col lg:flex-row">
            <!-- Cities -->
            <div class="filter-item-box lg:w-2/12">
              <label for="major-city" class="filter-item-label">Major City</label>
              <select name="major-city" id="majory-city" class="filter-item-select">
                <option value="Anywhere">Everywhere</option>
                <option value="Accra" selected>Accra</option>
                <option value="Kumasi">Kumasi</option>
              </select>
            </div>

            <!-- Location -->
            <div class="filter-item-box flex-col lg:w-3/12">
              <label for="location" class="filter-item-label w-full">Location</label>
              <input type="text" name="location" id="location" placeholder="Area in city"
                class="filter-item-input">
            </div>

            <!-- Price -->
            <div class="filter-item-box lg:w-3/12">
              <label for="price" class="filter-item-label">Price (<span
                  class="text-gray-300 lg:text-gray-700 mr-1 self-center font-bold text-sm">Ghc</span>)</label>

              <select name="price" id="price" class="filter-item-select lg:w-full lg:text-center">
                <option value="any">Any</option>
                <option value="200">200 - 500</option>
                <option value="500">500 - 700</option>
                <option value="700">700 - 1000</option>
                <option value="1000">1000 - 1500</option>
                <option value="1500">1500 - 2000</option>
                <option value="2000">2000 - 3000</option>
                <option value="3000">3000 - 4000</option>
                <option value="4000">4000 - 5000</option>
              </select>
            </div>

            <!-- Beds -->
            <div class="filter-item-box lg:w-1/12">
              <label for="beds" class="filter-item-label">Beds</label>
              <select name="beds" id="beds" class="filter-item-select">
                <option value="any">Any</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
              </select>
            </div>

            <!-- Baths -->
            <div class="filter-item-box lg:w-1/12">
              <label for="baths" class="filter-item-label">Baths</label>
              <select name="baths" id="baths" class="filter-item-select">
                <option value="any">Any</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
              </select>
            </div>

            <!-- Years of Advanced Payment -->
            <div class="filter-item-box lg:w-1/12">
              <label for="advance-payment" class="filter-item-label">Years</label>
              <select name="advance-payment" id="advance-payment" class="filter-item-select">
                <option value="any">Any</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
              </select>
            </div>

            <!-- Verified -->
            <div class="filter-item-box lg:w-1/12">
              <label for="verified" class="filter-item-label">Verified</label>
              <select name="verified" id="verified" class="filter-item-select">
                <option value="any">Any</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>

          <!-- Button -->
          <div class="flex justify-around mt-5 lg:mt-2 lg:justify-start">
            <button type="submit" class="py-2 px-4 bg-red-600 hover:bg-red-500 text-white">Apply Filters</button>
          </div>
        </form>
      </div>

      <!-- The buttons to show the filters -->
      <div class="flex space-x-5 py-2 lg:hidden">
        <button id="filter-btn"
          class="bg-gray-800 hover:bg-gray-700 rounded-md w-1/2 py-4 text-center text-gray-200 cursor-pointer">
          <i class="fa-solid fa-search"></i> Filters
        </button>
        <div class="w-1/2 bg-gray-800 rounded-md py-4 text-center text-gray-200 cursor-pointer">
          sort
        </div>
      </div>
    </div>

    <div class="mt-10">

      <div class="flex justify-around md:justify-between">
        <div class="text-sm text-gray-700">3 apartments</div>
        <div class="text-gray-800 text-lg font-semi-bold hidden md:flex">Apartments</div>
        <div class="hidden md:flex">
          <i class="fa-solid fa-chevron-left self-center bg-gray-300 px-2 py-1 cursor-pointer"></i>
          <p class="px-5 text-sm self-center">Page 1 of 3</p>
          <i class="fa-solid fa-chevron-right self-center bg-gray-300 px-2 py-1 cursor-pointer"></i>
        </div>
      </div>

      {% include "apartments/apartment-listings.html" with apartments=apartments %}

    </div>

  </section>

</div>

{% endblock content %}

{% block javascript %}
<script>
  const filter_form_container = document.getElementById("filter-form-container");
  const filter_show_button = document.getElementById("filter-btn");
  const filter_close_button = document.getElementById("close-btn");


  function hideFilter() {
    filter_form_container.classList.add("hidden");
  }

  function showFilter() {
    filter_form_container.classList.toggle("hidden");
  }

  filter_show_button.addEventListener("click", showFilter);
  filter_close_button.addEventListener("click", hideFilter);
</script>
{% endblock javascript %}