{% extends 'base.html' %}
{% load static humanize %}

{% block title %}{% endblock title %}

{% block content %}

<!-- HomePage banner -->
<div class="flex bg-gray-900 justify-around w-full img-fluid bg-no-repeat bg-center bg-cover"
  style="background-image: url({% if homepage.banner_image %}{{ homepage.get_webp_image }}{% else %}{% static 'img/bg-img.jpg' %}{% endif %}); height: 600px">

  <div class="self-center flex flex-col md:w-4/5 xl:w-3/5 py-5">
    <div class="text-white text-center px-2">
      <h1 class="font-black text-3xl sm:text-4xl md:text-5xl lg:text-6xl">
        {% if homepage.banner_heading_text %}
          {{ homepage.banner_heading_text }}
        {% else %}
          Discover your future home with IsotachGlobal
        {% endif %}
      </h1>
      <p class="text-base md:text-lg lg:text-2xl font-light pt-3">
        {% if homepage.banner_sub_heading_text %}
          {{ homepage.banner_sub_heading_text }}
        {% else %}
         Search for your new home right here
        {% endif %}
      </p>
    </div>

    <div class="mt-10 px-5 font-mono">

      <form action="#" method="get" class="mt-5">
        <div
          class="flex flex-col md:flex-row space-y-3 md:space-y-0 text-base uppercase font-bold justify-between">
          <!-- Add filters here -->

          <!-- Beds -->
          <div class="flex">
            <span class="mr-2 self-center text-white">Beds <i class="fa-solid fa-bed text-fuchsia-600"></i></span>
            <select name="beds" id="beds" class="banner-select-field">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <!-- Baths -->
          <div class="flex">
            <span class="mr-2 self-center text-white">Baths <i class="fa-solid fa-bath text-sky-500"></i></span>
            <select name="beds" id="Baths" class="banner-select-field">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <!-- Price -->
          <div class="flex">
            <span class="mr-2 self-center text-white">Price <i
                class="fa-solid fa-money-bill-wave text-green-800"></i></span>
            <select name="price" id="price" class="banner-select-field">
              <option value="200">200.00 - 500.00</option>
              <option value="500">500.00 - 700.00</option>
              <option value="700">700.00 - 1000.00</option>
              <option value="1000">1000.00 - 1500.00</option>
              <option value="1500">1500.00 - 2000.00</option>
              <option value="2000">2000.00 - 3000.00</option>
              <option value="3000">3000.00 - 4000.00</option>
              <option value="4000">4000.00 - 5000.00</option>
            </select>
          </div>

        </div>

        <div class="flex flex-col md:flex-row mt-5">
          <input type="text" name="search" id="search"
            class="w-full md:w-4/5 rounded-lg md:rounded-r-none py-4 px-2 md:px-4 appearance-none focus:outline-none focus:border focus:border-pink-600 shadow-md shadow-gray-800"
            placeholder="Address, location, city, neighborhood..." />
          <button type="submit"
            class="md:w-1/5 py-3 px-2 bg-red-600 font-bold text-center text-white text-base mt-2 md:mt-0 md:rounded-r-lg">
            <span class="mr-2">search</span><i class="fa-solid fa-search text-xl text-gray-300"></i>
          </button>
        </div>
      </form>

    </div>
  </div>

</div>

<!-- Listings -->
<section class="px-5 md:px-14 lg:px-20 mb-10">

  {% if featured_apartments %}
    <!-- Featured Listings -->
    <div>
      <h1 class="text-xl md:text-2xl font-bold mt-8 md:mt-10 pb-2 text-gray-800">Our Top Featured Apartment Listings</h1>
      <a href="{% url 'apartments:list-apartments' %}" class="text-blue-500 hover:text-blue-600"><i class="fa-solid fa-eye"></i> View all listings</a>

      {% include "apartments/apartment-listings.html" with apartments=featured_apartments %}

    </div>
  {% else %}
    <h2 class="text-sky-600 text-lg text-center">No featured apartments</h2>
  {% endif %}

  <!-- Latest Listings -->
  {% if latest_apartments %}
    <div class="mt-5">
      <h1 class="text-xl md:text-2xl font-bold mt-8 md:mt-10 pb-2 text-gray-800">Our Latest Apartment Listings</h1>
      <a href="{% url 'apartments:list-apartments' %}" class="text-blue-500 hover:text-blue-600"><i class="fa-solid fa-eye"></i> View all listings</a>

      {% include "apartments/apartment-listings.html" with apartments=latest_apartments %}

    </div>
  {% else %}
    <h2 class="text-sky-600 text-lg text-center">No latest apartments</h2>
  {% endif %}

</section>

<!-- The About Us Message -->
{% if homepage.about_section %}

<section class="px-5 md:px-14 lg:px-20 my-16" id="about-us">
  <h1 class="my-5 text-3xl md:text-4xl lg:text-5xl font-black text-gray-700">{{homepage.about_section.first.name}}</h1>
  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2">
      <img src="{{homepage.about_section.first.featured_image.url}}" alt="About us featured image" />
    </div>
    <div class="lg:w-1/2 leading-7 lg:leading-8 text-lg text-gray-900 py-5 lg:py-0 lg:px-10 text-justify">
      {{ homepage.about_section.first.about_company }}</div>
  </div>
</section>

{% endif %}

<!-- Our Services Section -->
{% if homepage.services_section %}

<section class="px-5 md:px-14 lg:px-20 my-16" id="services">
  <h1 class="my-5 text-3xl md:text-4xl lg:text-5xl font-black text-gray-700">{{ homepage.services_section.first.name }}
  </h1>
  <div class="flex flex-col lg:flex-row-reverse">
    <div class="lg:w-1/2">
      <img src="{{homepage.services_section.first.featured_image.url}}" alt="About us featured image" />
    </div>
    <div class="lg:w-1/2 leading-7 lg:leading-8 text-lg text-gray-900 py-5 lg:py-0 lg:px-10 text-justify">
      {{ homepage.services_section.first.description }}</div>
  </div>
</section>

{% endif %}


<section class="my-16 flex flex-col-reverse lg:flex-row">

  <!-- Google Maps -->
  <div class="lg:w-1/2">
    <h1 class="pl-5 md:pl-14 lg:pl-20 my-5 text-3xl md:text-4xl lg:text-5xl font-black text-gray-700 lg:text-center">
      Where are we
      Located?</h1>

    <div class="w-full h-screen lg:h-4/5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15851.631430239197!2d-1.5656912720886256!3d6.658341372969383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb93642c30f037%3A0x7dcf1933bac0899c!2sKotei%2C%20Kumasi!5e0!3m2!1sen!2sgh!4v1641421911100!5m2!1sen!2sgh"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>

  <!-- Contact Form -->
  <div class="lg:w-1/2" id="contact-us">
    <h1 class="pl-5 md:pl-14 lg:pl-20 my-5 text-3xl md:text-4xl lg:text-5xl font-black text-gray-700 lg:text-center">
      Talk to Us</h1>

    <div class="h-3/5 w-full px-5 md:px-14 lg:px-20">
      <form action="#" method="post" class="space-y-5">

        <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5">
          <div class="md:w-1/2">
            <input class="contact-form-input" type="text" name="full_name" id="full_name"
              placeholder="Your Full Name" />
          </div>

          <div class="md:w-1/2">
            <input class="contact-form-input" list="cities" type="text" name="city" id="city"
              placeholder="Your City, or Town" />
            <datalist id="cities">
              <option value="Accra">Accra</option>
              <option value="Kasoa">Kasoa</option>
              <option value="Kumasi">Kumasi</option>
              <option value="Takoradi">Takoradi</option>
              <option value="Cape Coast">Cape Coast</option>
              <option value="Ho">Ho</option>
              <option value="Tema">Tema</option>
            </datalist>
          </div>
        </div>

        <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5">
          <div class="md:w-1/2">
            <input class="contact-form-input" type="text" name="phone" id="phone" placeholder="Your Phone" />
          </div>
          <div class="md:w-1/2">
            <input class="contact-form-input" type="email" name="email" id="email" placeholder="Your Email Address">
          </div>
        </div>

        <div>
          <textarea class="contact-form-input" name="message" id="message" cols="25" rows="10"
            placeholder="Type your message here"></textarea>
        </div>

        <button type="submit" class="bg-red-600 text-white py-2 w-full">Send Message <i
            class="fa-solid fa-location-arrow"></i></button>
      </form>
    </div>

  </div>
</section>

<!-- Freqeuntly Asked Questions -->
{% if homepage.frequently_asked_questions %}

<section class="px-5 md:px-14 lg:px-20 my-16" id="faq">
  <h1 class="my-5 text-3xl md:text-4xl lg:text-5xl font-black text-gray-700">Frequently Asked Questions</h1>

  <div class="">
    {% for faq in homepage.frequently_asked_questions.all %}
    <details class="mt-5" {% if forloop.counter0 == 0 %}open{% endif %}>
      <summary class="faq-summary">
        {{ faq.question }}</summary>
      <p class="text-sm md:text-base lg:text-lg px-5 mt-1">{{faq.answer}}</p>
    </details>
  </div>

  {% endfor %}
</section>

{% endif %}

{% endblock content %}