{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}

<!-- HomePage banner -->
<div class="flex justify-around w-full img-fluid bg-no-repeat bg-center bg-cover"
  style="background-image: url({% static 'img/bg-img.jpg' %}); height: 540px">

  <div class="self-center flex flex-col">
    <div class="text-white text-center">
      <h1 class="font-black text-3xl sm:text-4xl md:text-5xl lg:text-6xl">Discover Your Perfect Home</h1>
      <p class="text-base md:text-lg lg:text-2xl font-thin">Search nearby for apartments, and homes for
        rent.</p>
    </div>

    <div class="mt-10 px-5 md:px-20 font-mono">
      <div class="flex text-base uppercase font-bold text-white justify-evenly">
        <!-- Add filters here -->
        <div>beds</div>
        <div>baths</div>
        <div>price</div>
        <div>location</div>
      </div>

      <form action="#" method="get" class="flex flex-col md:flex-row mt-5">
        <input type="text" name="search" id="search"
          class="w-full md:w-4/5 rounded-lg md:rounded-r-none py-4 px-2 focus:outline:none focus:outline-purple-600"
          placeholder="Address, location, city, neighborhood..." />
        <button type="submit"
          class="md:w-1/5 py-3 px-2 bg-red-600 font-bold text-center text-white text-base mt-2 md:mt-0 md:rounded-r-lg">
          <span class="mr-2">search</span><i class="fa-solid fa-search text-xl text-gray-300"></i>
        </button>
      </form>

    </div>
  </div>

</div>

<section class="px-5 md:px-14 lg:px-20">

  <!-- Latest Listings -->
  <div>
    <h1 class="text-xl md:text-2xl font-bold mt-8 md:mt-10 pb-2 text-gray-800">Our Latest Apartment Listings</h1>

    <div class="flex justify-evenly flex-wrap">
      {% for apartment in "12345678" %}
      <div class="bg-slate-50 shadow-sm shadow-black w-full sm:w-80 mt-8 md:mt-10 rounded-md">
        <!-- The apartment image -->
        <img class="w-full rounded-md" src="{% static 'img/apt1.jpg' %}" alt="Apartment Image">

        <!-- The apartment info -->
        <div class="px-2 py-3">

          <!-- Price, monthly -->
          <p class="text-xl font-serif font-black py-1"><i class="fa-solid fa-money-bill-wave text-green-800"></i> <span class="mr-1 text-emerald-700">Ghc</span><span>650.00</span><span class="ml-2">monthly</span></p>

          <!-- Baths, beds and verified -->
          <div class="flex justify-between">
            <div>beds  <i class="fa-solid fa-bed text-fuchsia-600"></i></div>
            <div>baths <i class="fa-solid fa-bath text-sky-500"></i></div>
            <div>verified <i class="fa-solid fa-check-double text-green-600"></i></div>
          </div>
        </div>
      </div>
      {% empty %}
      <h1>There are no apartments</h1>
      {% endfor %}
    </div>

  </div>

</section>


{% endblock content %}