{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}

<!-- HomePage banner -->
<div class="flex justify-around w-full img-fluid bg-no-repeat bg-center bg-cover"
  style="background-image: url({% static 'img/bg-img.jpg' %}); height: 540px">

  <div class="self-center flex flex-col">
    <div class="text-white text-center">
      <h1 class="font-black text-3xl sm:text-4xl md:text-5xl lg:text-6xl">Discover Your Perfect Home</h1>
      <p class="text-base md:text-lg lg:text-2xl font-thin">Search nearby for apartments, and homes for
        rent.</p>
    </div>

    <div class="mt-10 px-20">
      <div class="flex space-x-16 text-base uppercase font-bold text-white">
        <div>beds</div>
        <div>baths</div>
        <div>price</div>
        <div>location</div>
      </div>

      <form action="#" method="get" class="flex mt-5">
        <input type="text" name="search" id="search" class=" w-4/5 border py-2 px-2 border-black" />
        <button type="submit"
          class="w-1/5 py-2 px-2 bg-red-600 font-bold text-center text-white text-sm md:text-lg"><span
            class="md:mr-2">search</span><i class="fa-solid fa-search hidden md:inline"></i>
        </button>
      </form>

    </div>
  </div>

</div>

<div>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit inventore iusto iure? Voluptatibus odio pariatur eum
  quod repellendus obcaecati veritatis dolore doloremque commodi, officiis ipsum doloribus, neque similique eligendi
  fugiat!
  Minima modi voluptas aperiam neque impedit voluptatem suscipit facere a, enim numquam sapiente unde repellendus
  excepturi assumenda quasi saepe laborum perferendis maxime soluta! Provident eius voluptatibus laudantium quasi iusto
  adipisci!
  Officiis, illo sequi dolores nulla nemo praesentium iure quo illum quod at dolorem cupiditate, voluptatem tempora
  accusamus assumenda, sint pariatur repellendus reprehenderit adipisci autem est atque. Praesentium repellendus debitis
  accusantium!
  Quia ducimus iste facere. Dolor at officia mollitia delectus molestias facere. Nam eum temporibus obcaecati aspernatur
  optio, asperiores odio dolores et. Sapiente, soluta laudantium temporibus molestias iste consequuntur. Saepe,
  mollitia.
  Expedita possimus architecto ut recusandae laudantium dignissimos quam quas itaque necessitatibus officia voluptatibus
  eius consectetur, mollitia reprehenderit fugiat amet et cumque repudiandae nam quae exercitationem, blanditiis
  aspernatur suscipit? Architecto, id.
  Iste doloribus voluptatem cupiditate numquam porro aut aliquam fuga, unde maiores repudiandae aspernatur labore nulla
  consequatur amet mollitia eveniet officiis odit! Molestiae numquam vel deserunt itaque id veniam sint quaerat.
  Officiis, aspernatur. Totam deserunt eligendi libero deleniti nostrum voluptate nemo optio, ipsum ea? Aperiam enim
  ratione nisi, possimus et praesentium dolorem. Quo eos obcaecati corrupti, eligendi nulla id ab dolorum.
  Quidem assumenda ullam nobis sapiente. Debitis, natus eaque! Facere amet deleniti accusantium, nihil suscipit aliquam
  at tenetur nam nemo quisquam, est doloremque ipsam nesciunt perspiciatis porro consequatur eveniet vitae libero!
  Aspernatur voluptas, reiciendis consequatur, praesentium at, voluptatibus hic quae similique corrupti neque deserunt
  officiis iure fugiat corporis dolore in eius totam. Provident consequuntur nesciunt, possimus voluptatum officiis
  molestiae eveniet odit.
  Totam vitae deleniti excepturi debitis tenetur error aperiam eligendi vel rerum earum officia animi ullam praesentium
  eaque, voluptates exercitationem dicta asperiores nobis. Deserunt voluptate omnis perspiciatis rerum neque temporibus
  sunt.
  Esse nihil voluptatum facere quibusdam nostrum consequatur necessitatibus temporibus dolorum provident inventore
  explicabo est repellat, ratione et hic. Similique minus illum nihil officia doloremque error aut quo aspernatur
  suscipit atque?
  Perspiciatis praesentium, perferendis sequi asperiores facilis ad illum! Placeat voluptatem officiis ex dolorem
  laborum sequi at atque esse soluta ad, blanditiis deserunt veniam dignissimos, cumque debitis? Repudiandae maiores
  possimus dolorem!
  Soluta vitae a voluptates distinctio aliquam natus saepe nihil omnis illum ea facere tenetur qui officiis libero animi
  sint velit vel labore repudiandae corporis, enim similique ut. Fugit, nobis autem.
  Ipsam fugiat accusamus error perferendis unde. Minima iusto quisquam itaque expedita autem iste explicabo sunt,
  consequuntur hic delectus asperiores beatae amet? Quo hic accusantium ex provident, alias illum neque autem?
  Unde non inventore quo accusantium. Accusantium vero maiores harum praesentium. Accusantium nostrum nisi in dolorum!
  Beatae illo aperiam, exercitationem ducimus, alias itaque eos dicta totam fugit libero sed officiis voluptas?
  Nulla amet voluptas laboriosam obcaecati. Asperiores consectetur quaerat autem accusantium, tempora velit doloribus
  ducimus impedit tempore temporibus ipsam, magni vel aperiam quos deserunt error officiis mollitia quibusdam natus ex
  officia!
  Temporibus laudantium distinctio consectetur hic recusandae, maiores quis error autem doloremque maxime, minus alias
  fuga itaque nesciunt voluptatum sequi dolore excepturi molestias. Delectus voluptatibus, maiores incidunt nemo id
  earum provident.
  Neque in pariatur, delectus ullam maiores quos, error laborum, nostrum ad molestiae rem! Aliquid voluptatum neque
  nulla rem sit, quidem, ullam eos, nemo necessitatibus commodi esse exercitationem minima nesciunt vel?
  Dignissimos nisi deleniti, dolor eligendi sunt quas laboriosam nesciunt similique repellendus culpa aliquid autem
  minus illo, molestiae error! Recusandae eaque possimus repellat nulla perferendis? Fugit atque explicabo beatae
  expedita qui.
  In, eum. Iste soluta assumenda consequuntur, omnis hic repellat laudantium nihil maiores dolor et ratione
  reprehenderit dolorum delectus fugit optio tempore ducimus dolores porro consectetur cumque aperiam repellendus libero
  ab!
  Sequi, consectetur vel odio aliquid est dignissimos, reiciendis non dicta, saepe nobis minima nemo tempora aspernatur
  laboriosam. Mollitia non suscipit, facilis saepe, quas incidunt illum illo laborum id, maxime voluptatibus!
  Voluptatibus, perferendis officia. Error possimus delectus quidem nemo in tempore, beatae voluptates itaque ex, eaque
  a. Suscipit provident omnis, rerum accusantium est cumque numquam, autem, eligendi id ad iure adipisci!
  Sed modi, aliquid reiciendis quam hic accusamus labore quaerat veniam enim, explicabo beatae alias ullam incidunt
  omnis nostrum voluptatibus quasi harum temporibus culpa. Iure eum magni repellendus. Sapiente, blanditiis dolores.
  Cum, quasi saepe vel consectetur odio iste reprehenderit, hic impedit debitis id quibusdam aspernatur adipisci.
  Recusandae eaque, praesentium officiis, officia nostrum eveniet nobis debitis enim deleniti, magnam voluptas hic
  itaque!
  In fuga quis ea numquam tempore rem fugiat natus, minus iure omnis, mollitia deleniti libero itaque amet, deserunt eum
  culpa iste quae! Nesciunt dolores, asperiores deleniti harum est sit enim.
  Accusantium non sint error qui veniam asperiores, eum dolores necessitatibus, similique a, in exercitationem odit
  vero? Nesciunt unde dolorem asperiores ullam, totam saepe perspiciatis consequuntur esse maxime sed nostrum sint.
  Dolorum repudiandae quia commodi fugiat nam perspiciatis voluptatibus repellat nisi earum, laborum rem magni doloribus
  aliquam porro? Et dolore magnam dicta ut, laudantium ipsa libero deserunt quos exercitationem dolores iure.
  Rerum, obcaecati vel! Ipsa repellendus dolore odit optio, possimus eum accusamus voluptatibus est, quas deserunt
  numquam? Itaque dolorum odio ducimus, sit quibusdam provident et error vitae nihil facilis corrupti quaerat.
  Exercitationem ex, dignissimos necessitatibus alias, expedita saepe quia autem dolore iste itaque animi, ratione quod
  unde. Ex doloremque dolore quas blanditiis maxime aliquam, quisquam vitae illo aut accusantium soluta nulla?
  Sapiente quis excepturi ab debitis quas consectetur aliquid nostrum officiis repellat facilis iste quae at, culpa esse
  voluptatibus repudiandae, totam alias, maiores explicabo eligendi harum porro ipsam! Ducimus, aut delectus!
  Repudiandae vel doloremque quasi sit nulla, corporis praesentium id eaque dignissimos facilis excepturi, sapiente
  exercitationem. Repellat, assumenda, cum aspernatur dolorem atque debitis unde, est omnis eligendi ipsam delectus
  eveniet itaque!
  Est dolorum laborum modi enim earum totam voluptates facilis atque tenetur, molestiae, perspiciatis rerum iusto
  repudiandae eos vero. Facilis cupiditate nihil mollitia fugiat, repellat dicta ab totam non ipsam consectetur.
  In rerum nam consequatur cupiditate, sapiente assumenda eum impedit unde? Quam incidunt fuga quasi soluta eaque
  ducimus molestiae libero nam est repudiandae? Corporis, et? Ad incidunt cupiditate autem numquam illum.
  Nemo obcaecati architecto vero magni nesciunt ut dicta odio provident temporibus iure, labore ea, ab quae quaerat,
  omnis ratione expedita. Ratione repudiandae id molestias eaque veniam, tenetur unde animi qui?
  Quia adipisci nam doloremque dolorem ad dicta molestias! Enim atque autem tempora assumenda corporis amet eaque!
  Perspiciatis quisquam tempore commodi. Recusandae, itaque. Reprehenderit asperiores et dolorum eveniet, ipsum
  voluptatibus incidunt!
  Officia reprehenderit porro dignissimos temporibus aperiam? Esse amet et perspiciatis totam quia itaque excepturi nisi
  illo aut quisquam autem eum ipsa facere debitis consequatur nulla quos fuga, recusandae iste? Adipisci!
  Quaerat maxime, ab id voluptatem ipsum perspiciatis voluptatum, et mollitia non eius unde sequi consectetur
  asperiores, dolore nisi quo quae nobis optio quod? Iste reprehenderit blanditiis vero optio, explicabo atque.
  Doloremque adipisci ratione dicta accusantium assumenda id pariatur dignissimos illum eaque, nam laborum. Dolor
  aperiam assumenda excepturi beatae libero placeat accusantium, doloribus necessitatibus. Suscipit labore voluptate
  distinctio doloribus? Nemo, accusantium?
  Cupiditate illo fugit dicta earum? Quam quisquam nesciunt minus eligendi, incidunt nam nostrum perspiciatis esse
  consectetur voluptatibus tenetur iusto illum similique amet fugiat magnam aspernatur. Ea distinctio quia quo fuga!
  Enim fugiat odit modi! Quis quas pariatur aut, quae earum ab ducimus aliquam soluta? Labore nihil dolore alias.
  Repudiandae nihil ipsa impedit minima accusamus nam adipisci deleniti inventore ratione. Est.
  Animi quas fugiat, eligendi qui porro voluptatum atque asperiores. Consectetur laborum sed, voluptate necessitatibus
  unde exercitationem, veritatis, perferendis blanditiis accusantium quibusdam magni vero molestias excepturi harum eum
  similique quaerat? Rerum!
  Maiores, deserunt voluptate cupiditate atque iusto corporis voluptatibus ipsum laudantium animi accusantium mollitia
  iure dolorum quibusdam doloremque est eius, quasi molestias delectus doloribus inventore amet provident distinctio
  magnam quo! Labore?
  Maxime perspiciatis velit asperiores delectus natus, voluptatibus fugit ipsum. Asperiores voluptates ipsa consectetur
  ut, modi natus veritatis molestiae provident dolorum nihil fugiat quidem eveniet ab similique a cum ea eum.
  Dicta nihil eveniet consequatur dolores quia porro iusto, facilis, consectetur libero blanditiis eum, atque totam
  repellat. Quam, nam dolorum ad voluptatibus assumenda accusamus ratione tempore veritatis natus, voluptatem officiis
  quo?
  Modi beatae veniam eum saepe deleniti sed quis error ab ipsam ducimus animi alias neque quidem quia repellat itaque,
  atque harum ratione dolor, facilis accusantium cum dignissimos. Asperiores, fuga aliquid.
  In quasi nulla blanditiis sint facilis corporis, pariatur exercitationem, quibusdam quia sit eligendi accusamus
  assumenda. Adipisci, quasi laudantium, reprehenderit harum corrupti, ducimus pariatur eius a magni facilis placeat
  voluptas autem?
  A iusto consectetur consequatur blanditiis nihil ut. Neque eveniet nisi vel, iure, omnis debitis deserunt autem
  mollitia architecto, dicta sapiente eos corporis nobis nulla provident fugiat deleniti similique labore amet!
  Nulla non a dolor. Laboriosam excepturi enim nostrum omnis laudantium, nobis vero fugiat hic iusto odit quod harum,
  perspiciatis explicabo voluptas quas ea ad quo natus quasi. Repellendus, nostrum libero?
  Totam quis quam nulla hic enim dolor omnis fugit sapiente explicabo, aperiam eligendi. Sequi, voluptates? Accusantium
  accusamus, eos sapiente perspiciatis tempora sed mollitia optio non at amet atque pariatur laudantium!
  Amet nulla odio totam quia delectus atque! Atque aliquam, laborum alias nam harum maiores laboriosam. Distinctio dolor
  recusandae repudiandae. Earum quia dolorum mollitia ipsum? Sit vitae molestiae beatae vero dolorem.
</div>

{% endblock content %}