<div class="self-center flex flex-col">
    <div class="text-center">
      <h1 class="text-center font-black text-7xl">Discover Your Perfect Home</h1>
      <p class="text-center text-2xl font-thin">Search nearby for apartments, and homes for rent.</p>
    </div>
    <div>
      <div class="flex space-x-16">
        <div>beds</div>
        <div>baths</div>
        <div>price</div>
        <div>location</div>
      </div>

      <form action="#" method="get" class="w-full">
        <input type="text" name="search" id="search" class=" w-full border-2 p-3 border-black" />
        <button type="submit">Search <i class="fa-solid fa-search"></i></button>
      </form>
    </div>
  </div>
