{% extends 'base.html' %}

{% block title %}Newsletter signup success{% endblock title %}


{% block content %}

<div class="my-20 flex justify-around">
  <div class="bg-slate-900 mx-5 self-center lg:w-4/5 xl:3/5 py-12 px-10">
    <h2 class="text-2xl md:text-4xl text-white py-4 font-semibold text-center">Your Inquiry has been sent successfully.</h2>
    <p class="text-base md:text-lg text-slate-200 py-3">The agent in charge of the property will reach out and answer your questions briefly.</p>

    <div class="">
      <a class="contact-success-link" href="{% url 'pages:homepage' %}">
        <i class=" self-center fa-solid fa-backward"></i><span>go back home</span>
      </a>
      <a class="contact-success-link mt-3" href="{% url 'apartments:list-apartments' %}">
       <span>explore our apartments</span>
      </a>
    </div>
  </div>
</div>


{% endblock content %}