{% load static %}
<!-- TODO fix the part of the form that hides on smaller screens -->
<div
  class="bg-black-eerie bg-opacity-90 min-h-screen md:h-screen w-full flex justify-around"
>
  <div
    class="lg:w-3/5 xl:w-1/2 bg-white pb-10 md:self-center min-h-screen md:min-h-min md:mx-2 overflow-y-auto"
  >
    <div
      class="flex justify-between mb-2 border-b-2 border-b-slate-200 py-1 md:py-3 md:px-5"
    >
      <p class="text-lg self-center pl-4 md:pl-0 font-bold">
        Meeting Schedule Form
      </p>
      <i
        id="schedule-meeting-form-close-btn"
        class="fas fa-times-circle text-red-600 p-1 cursor-pointer text-2xl md:text-4xl"
      ></i>
    </div>

    <div class="px-5">
      <div class="">
        <h1 class="text-slate-900 my-1 text-xl text-center font-bold">
          Schedule a meeting with the agent.
        </h1>

        <p class="my-2 text-sm sm:text-base text-slate-700">
          The agent in charge of this apartment will reach out to you for all
          further details.
        </p>
      </div>

      <form action="{% url 'contact:schedule-meeting' %}" method="POST">
        {% csrf_token %}
        <input
          type="hidden"
          name="{{ schedule_meeting_form.apartment_link.name }}"
          id="{{ schedule_meeting_form.apartment_link.id_for_label }}"
          class="schedule-meeting-apartment-link"
          value=""
        />
        <input
          type="hidden"
          name="{{ schedule_meeting_form.apartment_title.name }}"
          id="{{ schedule_meeting_form.apartment_title.id_for_label }}"
          value="{{ apartment.title }}"
        />
        <input
          type="hidden"
          name="{{ schedule_meeting_form.agent_name.name }}"
          id="{{ schedule_meeting_form.agent_name.id_for_label }}"
          value="{{ apartment.agent.full_name }}"
        />

        <!-- TODO customize the appearance of the date-time field -->
        <div class="">
          <label for="{{ schedule_meeting_form.meeting_date_and_time.id_for_label }}" class="form-label-2"
            >Date and Time</label
          >
          <input
            type="datetime-local"
            name="{{ schedule_meeting_form.meeting_date_and_time.name }}"
            id="{{ schedule_meeting_form.meeting_date_and_time.id_for_label }}"
            class="form-input-2"
          />
        </div>

        <div class="mt-4">
          <label
            class="form-label-2"
            for="{{ schedule_meeting_form.full_name.id_for_label }}"
            >Full Name</label
          >
          <input
            class="form-input-2"
            type="text"
            name="{{ schedule_meeting_form.full_name.name }}"
            id="{{ schedule_meeting_form.full_name.id_for_label }}"
            required
          />
        </div>

        <div class="mt-4">
          <label
            class="form-label-2"
            for="{{ schedule_meeting_form.email.id_for_label }}"
            >Your Email Address</label
          >
          <input
            class="form-input-2"
            type="email"
            name="{{ schedule_meeting_form.email.name }}"
            id="{{ schedule_meeting_form.email.id_for_label }}"
          />
        </div>

        <div class="mt-4">
          <label
            class="form-label-2"
            for="{{ schedule_meeting_form.phone_number.id_for_label }}"
            >Your Phone Number</label
          >
          <input
            class="form-input-2"
            type="text"
            name="{{ schedule_meeting_form.phone_number.name }}"
            id="{{ schedule_meeting_form.phone_number.id_for_label }}"
            placeholder="e.g: +233549223589"
            required
          />
        </div>
        <div class="mt-5">
          <button class="blue-btn-rounded font-bold">Submit Schedule</button>
        </div>
      </form>
    </div>
  </div>
</div>
