<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/tailwind/global.css' %}">
    <link rel="stylesheet" href="{% static 'icons/all.min.css' %}">

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>

    {% comment %} Top Navbar {% endcomment %}
    <nav class="bg-gray-50 shadow-lg">

      <!-- The label -->
      <div class="flex justify-between px-5 h-16">
        <div class="self-center"><label class="text-2xl font-bold"><a href="#">IsotachGlobal<i
                class="fa-solid fa-globe"></i></a></label></div>

        <div class="flex md:space-x-5">
          <!-- The menu items -->
          <div id="mobile-menu-items" class="hidden md:flex md:space-x-5 self-center text-lg">
            <!-- TODO On hover, show the the nested div on media and large screens -->
            <!-- TODO On click, show the nested div -->
            <div class="cursor-pointer"><i class="menu-icon fa-solid fa-home"></i> apartments
              <div class="flex flex-col md:hidden">
                <a href="#">rent</a>
                <a href="#">buy</a>
              </div>
            </div>

            <div class="cursor-pointer"><a href="#advertize"><i class="menu-icon fa-solid fa-money-bill"></i>
                advertise</a></div>
            <div class="cursor-pointer"><a href="#contact"><i class="menu-icon fa-solid fa-phone"></i> contact us</a>
            </div>
            <div class="cursor-pointer"><a href="#faq"><i class="menu-icon fa-solid fa-question"></i> faq</a></div>
            <div id="tablet-menu-items"
              class="flex flex-col md:hidden lg:flex lg:flex-row lg:space-x-5 space-y-5 lg:space-y-0">
              <div class="cursor-pointer"><a href="#agents"><i class="menu-icon fa-solid fa-people-arrows"></i>
                  agents</a></div>
              <div class="cursor-pointer"><a href="#become-an-agent"><i class="menu-icon fa-solid fa-user-tie"></i>
                  become an
                  agent</a></div>
            </div>

            <div class="lg:hidden hidden md:flex self-center md:text-lg cursor-pointer"><i id="tablet-menu-icon"
                class="fa-solid fa-bars"></i></div>
          </div>

          <!-- The menu icon -->
          <div class="md:hidden self-center text-2xl cursor-pointer"><i id="mobile-menu-icon"
              class="fa-solid fa-bars"></i></div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}


    <script>
      // HANDLE MOBILE MENU ----------------------------------------------------------------------- 
      const mobile_menu_icon = document.getElementById("mobile-menu-icon");
      const mobile_menu_items = document.getElementById("mobile-menu-items");

      function showMobileMenuItems(e) {
        mobile_menu_items.classList.toggle("hidden");
        mobile_menu_items.classList.toggle("mobile-menu");
      }

      function handleResizeMobile(e) {
        const window_width = window.innerWidth;

        if (window_width > 767) {
          mobile_menu_items.classList.add("hidden");
          mobile_menu_items.classList.remove("mobile-menu");
        }
      }

      mobile_menu_icon.addEventListener("click", showMobileMenuItems);
      window.addEventListener("resize", handleResizeMobile);

      // HANDLE TABLET MENU ----------------------------------------------------------------
      // const tablet_menu_icon = document.getElementById("tablet-menu-icon");
      // const tablet_menu_items = document.getElementById("tablet-menu-items");

      // function showTabletMenuItems(e) {
      //   tablet_menu_items.classList.toggle("md:hidden");
      //   tablet_menu_items.classList.toggle("tablet-menu");
      // }

      // function handleResizeTablet(e) {
      //   const window_width = window.innerWidth;

      //   if (window_width <= 767) {
      //     mobile_menu_items.classList.add("md:hidden");
      //     mobile_menu_items.classList.remove("tablet-menu");
      //   } else if (window_width >= 1024) {
      //     // mobile_menu_items.classList.add("md:hidden");
      //     mobile_menu_items.classList.remove("tablet-menu");
      //   }
      // }

      // tablet_menu_icon.addEventListener("click", showTabletMenuItems);
      // window.addEventListener("resize", handleResizeTablet);
    </script>

  </body>

</html>