* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide-container {
  position: relative;
  width: 100%;
  height: 80vh;
  margin: auto;
}

.slide-container .slide {
  display: none;
}

.slide-container .slide img {
  width: 100%;
  height: 80vh;
  object-fit: fill;
  overflow: hidden;
}

.slide-container .button {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 5;
}

.slide-container .button a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  height: 30px;
  border-radius: 15px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #bbb;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.active, .dot:hover {
  background-color: yellow;
}
